In [1]:
import pandas as pd
import glob
fl = glob.glob('./list/*.csv')

In [2]:
df = pd.DataFrame()
for i in fl:
    df = df.append(pd.read_csv(i))

In [3]:
df = df.reset_index()

In [4]:
df.head()

,index,No,Kode,Nama,Tanggal Pencatatan,Saham,Papan Pencatatan
0,0,1,AALI,Astra Agro Lestari Tbk.,09 Des 1997,1.924.688.333,UTAMA
1,1,2,ABBA,Mahaka Media Tbk.,03 Apr 2002,2.755.125.000,PENGEMBANGAN
2,2,3,ABDA,Asuransi Bina Dana Arta Tbk.,06 Jul 1989,620.806.680,PENGEMBANGAN
3,3,4,ABMM,ABM Investama Tbk.,06 Des 2011,2.753.165.000,UTAMA
4,4,5,ACES,Ace Hardware Indonesia Tbk.,06 Nov 2007,17.150.000.000,UTAMA

In [5]:
df = df[['Kode','Nama','Tanggal Pencatatan','Saham','Papan Pencatatan']]

In [6]:
df.to_csv('all_list.csv')

In [7]:
fs = list(df['Kode']+".JK")